@font-face {
    font-family: 'NeutraDisp-Medium';
    src: url('fonts/NeutraDisp-Medium.eot');
    src: local('☺'), url('fonts/NeutraDisp-Medium.woff') format('woff'), url('fonts/NeutraDisp-Medium.ttf') format('truetype'), url('fonts/NeutraDisp-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Light';
    src: url('fonts/Gotham-Light.eot');
    src: local('☺'), url('fonts/Gotham-Light.woff') format('woff'), url('fonts/Gotham-Light.ttf') format('truetype'), url('fonts/Gotham-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@mixin transform($value){
    -ms-transform: $value; /* IE 9 */
    -webkit-transform: $value; /* Chrome, Safari, Opera */
    transform: $value;
}
@mixin transition($value){
    -webkit-transition: $value; /* For Safari 3.1 to 6.0 */
    transition: $value;
}
@mixin transition-delay($value){
    -webkit-transition-delay: $value; /* For Safari 3.1 to 6.0 */
    transition-delay: $value;
}
@mixin animation($value){
    -webkit-animation: $value; /* Safari 4+ */
    -moz-animation:    $value; /* Fx 5+ */
    -o-animation:      $value; /* Opera 12+ */
    animation:         $value; /* IE 10+, Fx 29+ */
}


$pink-light: #FCF3F2;
$pink-dark: #E0CFCE;


@mixin logo-icon-effect($limit, $delay:0s, $effect:false, $speed:.05s, $i:1){
    img:nth-child(#{$i}){
        opacity: 1;
        @if $effect == true{
            @include transition(all .5s);
        }
        @include transition-delay($delay);
    }
    @if $limit > $i {
        @include logo-icon-effect($limit, $delay+$speed, $effect, $speed, $i+1);
    }
}