@font-face {
    font-family: 'Copperplate';
    src: url('fonts/Copperplate.eot');
    src: local('☺'), url('fonts/Copperplate.woff') format('woff'), url('fonts/Copperplate.ttf') format('truetype'), url('fonts/Copperplate.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'fonts/MinionPro-Regular';
  src: url('fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/MinionPro-Regular.otf')  format('opentype'),
	     url('fonts/MinionPro-Regular.woff') format('woff'), url('fonts/MinionPro-Regular.ttf')  format('truetype'), url('fonts/MinionPro-Regular.svg#fonts/MinionPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@mixin transform($value){
    -ms-transform: $value; /* IE 9 */
    -webkit-transform: $value; /* Chrome, Safari, Opera */
    transform: $value;
}
@mixin transition($value){
    -webkit-transition: $value; /* For Safari 3.1 to 6.0 */
    transition: $value;
}
@mixin transition-delay($value){
    -webkit-transition-delay: $value; /* For Safari 3.1 to 6.0 */
    transition-delay: $value;
}
@mixin animation($value){
    -webkit-animation: $value; /* Safari 4+ */
    -moz-animation:    $value; /* Fx 5+ */
    -o-animation:      $value; /* Opera 12+ */
    animation:         $value; /* IE 10+, Fx 29+ */
}


$pink-light: #FCF3F2;
$pink-dark: #CDAA96;
$font: 'Copperplate';
.font{
    font-family: 'Copperplate', Arial;
}
.font-logo{
    font-family: 'Copperplate', Arial;
}


@mixin logo-icon-effect($limit, $delay:0s, $effect:false, $speed:.05s, $i:1){
    img:nth-child(#{$i}){
        opacity: 1;
        @if $effect == true{
            @include transition(all .5s);
        }
        @include transition-delay($delay);
    }
    @if $limit > $i {
        @include logo-icon-effect($limit, $delay+$speed, $effect, $speed, $i+1);
    }
}